/*stylesheet*/

/*
	tiers of cascading styles

	importance - 

		1 transition
		2 !important
		3 animation
		4 normal

	origin - 
		1 website
		2 user
		3 browser

	specificity
		1 inline
		2 id
		3 class
		4 type

	position
		top to bottom  ??
*/

body {
	background-color: #e6e6e6;
	color: #333333;
}

h1#main-headline {
	font-size: 48px;
	color: green;
	font-weight: 800;

}

h1.main-headline {
	font-size: 48px;
	color: red;
	font-weight: 800;

}

h1, h2, h3, h4 {
	margin: 0;
}

p {
	color: purple !important;
}